body{
    background-color: #625b88;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
h2{
    margin-top: 20px;
    margin-bottom: 20px;
}
.area{
    width: 300px;
    max-width: 350px;
    padding: 10px;
    text-align: center;
    background-color: rgb(238, 232, 232);
    border-radius: 10px;
}
.logo{
    width: 100px;
    height: auto;
}
.remember{
    padding-top:20px;
    padding-bottom:20px;
}
.gray{
    color:#999;
}
.padding{
    padding: 20px;
}